.body-wrapper {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
}

.body-wrapper a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.826);
}

.body-wrapper a :hover {
  color: rgb(9, 137, 176);
}

h2 :hover{
  color: rgb(9, 137, 176);
}

img {
  cursor: pointer;
}

.right-column .large-article a p {
  font-weight: normal;
}

.left-column {
  width: 234px;
  padding-right: 20px;
}

.right-column-2 {
  padding-left: 20px;
  border-left: 1px solid rgb(224, 220, 220);
}

.right-column {
  padding-right: 20px;
  border-left: 1px solid rgb(224, 220, 220);
}


.left-column-article-top {
  border-bottom: 1px solid rgb(224, 220, 220);
}

.article {
  width: 100%;
  height: 257px; /* Đã tính cả margin và padding */
  margin-bottom: 10px;
}

.article-bottom {
  margin-top: 25px;
}

.large-article {
  width: 502px;
  height: 514px; /* Đã tính cả margin và padding */
  margin-left: 20px;
  margin-bottom: 20px;
}

.large-article img {
  max-width: 100%;
}

.small-article {
  width: 100%;
  height: auto; /* Đảm bảo chiều cao tự động thích hợp */
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

.small-article img {
  width: 120px;
  height: 80px;
  margin-left: 20px; /* Khoảng cách giữa ảnh và nội dung */
}

.small-article .content {
  flex: 1; /* Nội dung sẽ mở rộng để điền vào phần còn trống */
}

.small-article h2 {
  width: 163px;
  height: 80px;
  margin: 0; /* Loại bỏ margin mặc định */
}

.article img {
  width: 233.98px;
  height: 155.98px;
}

.article h2,
.large-article h2,
.small-article h2 {
  margin-top: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 30px; /* Khoảng cách giữa menu và body */
}

.small-article .content {
  width: 163.98px;
  height: 80px;
}

.small-article .content a p {
  margin: 0;
}


.padding-bottom {
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.padding-top {
  padding-top: 25px;
}



.wrapper {
  width: 1127px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  border-top: 1px solid rgb(224, 220, 220);
  padding-top: 30px;
  margin: auto;
  margin-top: 30px;
}

.left-layout {
  width: 234px;
  height: 598px;
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px solid #ccc;
}

.left-layout .article {
  margin-bottom: 20px;
}

.left-layout .border {
  height: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.left-layout .article img {
  max-width: 100%;
  height: 156px;
}

.center-layout {
  width: 516px;
  height: 598px;
}

.center-layout .article {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.center-layout .article img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.center-layout .article a {
  width: 330px;
  height: 100px;
  display: inline-block;
}

.article2 {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.right-layout {
  width: 300px;
  height: 598px;
  padding-left: 25px;
  border-left: 1px solid #ccc;
}

div.title {
  font-weight: bold;
  margin-bottom: 20px;
}
div.title span {
  color: green;
}

.wrapper a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.826);
}

.wrapper :hover {
  color: rgb(9, 137, 176);
}

.wrapper .article1 img {
  margin-bottom: 20px;
}

.wrapper .boder-top {
  padding-top: 10px;
}

.article2 img {
  margin: 0;
}

.wrapper2 {
  width: 1127px;
  display: flex;
  margin: auto;
  margin-top: 40px; /* Khoảng cách giữa các layout */
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.layout1,
.layout2 {
  width: 527px;
  height: 3050px; /* Độ cao của mỗi layout */
}



.layout1 {
  padding-right: 30.5px;
  margin-right: 30.5px;
  border-right: 1px solid #ccc;
}


.left-layout1{
  width: 527px;
  height: 156px;
}

.left-layout1 {
  display: flex;
  align-items: center;
}

.left-layout1 .article {
  display: flex;
  align-items: center;
}

.left-layout1 img {
  width: 234px;
  height: 156px;
}

.left-layout1 .content {
  margin-left: 20px; /* Khoảng cách giữa ảnh và nội dung */
}

.left-layout1 .content a {
  display: block;
  text-decoration: none;
}

.left-layout1 h3 {
  width: 277px;
  height: 75px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.left-layout1 p {
  width: 277px;
  height: 66px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
}


.body-layout {
  border: none;

}

.left-layout1 article {
  height: 177px;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.wrapper2 a {
  color: rgba(0, 0, 0, 0.826);
}


.layout1 {
  display: flex;
  flex-direction: column; /* Các phần tử sẽ được xếp dọc */
  justify-content: space-between; /* Các phần tử sẽ được căn đều với khoảng cách giữa chúng */
}

.layout2 .right-layout1 {
  width: 527px;
  height: 315px;
  margin-top: 10px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.category-header {
  padding: 10px 0;
}

.category-header a {
  text-decoration: none;
  color: #333333;
  margin-right: 20px;
  font-size: 14px;
}

.category-header .main {
  text-decoration: none;
  color: #1c8e0d;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.layout2 .right-layout1 .article1 {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.layout2 .right-layout1 .article1 img {
  width: 192px;
  height: 127.99px;
}

.article-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Xếp các phần tử vào các cột với độ rộng tối thiểu 200px */
  grid-gap: 10px; /* Khoảng cách giữa các phần tử */
}

.article-content a {
  text-decoration: none;
  color: #333333;
}

.wrapper2 :hover {
  color: rgb(9, 137, 176);
}

.layout2 .article1 {
  width: 192px;
  height: 315px;
}

.layout2 .right-layout1 .title {
  display: block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.826);
  width: 192px;
  height: 65.99px;
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
}

.layout2 .right-layout1 .content {
  display: block;
  color: #666666;
  width: 192px;
  height: 80px;
  font-size: 13px;
  line-height: 20px;
}


.right-layout2 .article2 {
  width: 319px;
  height: 60px;
}

.right-layout2 .article2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Đường kẻ phân chia giữa các article */
  padding-bottom: 12px;
}

.right-layout2 .article2 img {
  margin-left: 10px;
  width: 90px;
  height: 60px;
}

.right-layout2 .article2 h3 {
  width: 217px;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  cursor: pointer;
  color: #333333;
}



.right-layout2 {
  flex: 1;
  width: 319px;
  margin-left: 10px;
}

.right-layout2 .article-last {
  border: none;
  padding: 0;
  margin: 0;
}


.right-layout2 .article2 h3 {
  /* CSS mặc định cho tiêu đề */
  transition: color 0.3s ease; /* Hiệu ứng màu khi hover */
}

.right-layout2 .article2 h3:hover {
  color: rgb(9, 137, 176); /* Màu chữ khi hover */
}

.div-last {
  display: flex;
  flex-direction: column;
}

.div-last a {
  text-decoration: none;
  margin-top: 30px;
  font-weight: 600;
  padding-left: 7px;
}

.div-last img {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);;
  margin-top: 10px;
}


.hr1 {
  border: 5px solid green;
  border-radius: 5px;
  margin-top: 30px;
}

.footer {
  width: 1222px;
  height: 300px;
  margin: auto;
}

.footer-one {
  list-style: none;
  width: 530px;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.footer-one li {
  font-size: 15px;
}

.footer-two {
  list-style: none;
  width: 300px;
  height: 200px;
  float: left;
}

.footer-two li {
  font-size: 15px;
}

label {
  font-size: 15px;
  margin-bottom: 20px;
}

.footer-three {
  width: 300px;
  height: 200px;
}

.flex-footer {
  display: flex;
}

.footer-three .margin-logo {
  margin-top: 20px;
}

.footer-three div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; /* Khoảng cách giữa các liên kết */
}

