body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 1127px;
  background-color: white;
  color: #333; /* Màu chữ mặc định */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo img {
  max-width: 100px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 25px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  height: 35px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

#login-btn {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

.user-info span {
  margin-right: 10px;
  font-size: 14px; /* Thay đổi kích thước chữ thành nhỏ hơn */
}

#current-date {
  margin-right: 20px; /* Khoảng cách giữa ngày tháng và vị trí */
}

.header-wrapper {
  width: 1127px;
  margin: 0 auto; /* Để căn giữa header và menu */
}

.menu {
  width: 1903px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff; /* Màu nền của menu */
  justify-content: center;
}

.center-menu {
  text-align: center; /* Căn giữa menu */

}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.menu li :hover {
  background-color: rgb(217, 216, 168);
}

.divider {
  height: 1px; /* Chiều cao của dòng kẻ */
  background-color: #ccc; /* Màu của dòng kẻ */
  margin-top: 20px; /* Khoảng cách giữa menu và dòng kẻ */
  margin-bottom: 30px;
}

#menu li {
  display: block;
  width: 130px;
  height: 38px;
  margin-right: 20px; /* Khoảng cách giữa các mục menu */
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}